.Table
  border-collapse collapse
  width 95%
  margin 0 auto 2em auto
  padding-top 8.2em
  border: 1px solid white
  &-rowBody:nth-child(even)
    background-color #f2f2f2
  &-itemHeader, .Table-itemBody
    border 1px solid white
  &-itemHeader
    background-color #4393B9
    color white
    height 1em
  &-itemHeader, .Table-itemBody
    padding 15px
    text-align left
