<div class="Footer">
  <div class="Footer-socialNet">
    <a class="Footer-link" href="http://facebook.com" target="_blank"</a><i id="facebook" class="fa fa-facebook-official" aria-hidden="true"></i>
    <a class="Footer-link" href="http://twitter.com" target="_blank"</a><i id="twitter" class="fa fa-twitter" aria-hidden="true"></i>
    <a class="Footer-link" href="http://youtube.com" target="_blank"</a><i id="youtube"class="fa fa-youtube-play" aria-hidden="true"></i>
    <h2 class="Footer-title">iEmergencia 2017</h2>
  </div>
</div>
<div class="Footer-developer">
  Desarrollado por ©Palmisoft
</div>
