.Footer
  background #2c3e4d
  height 8em
  letter-spacing 1px
  &-title
    color #e0e0e0
    font-size 20px
    text-align center
    margin 0
    display block
    pointer-events none
    cursor default
  &-developer
    text-align center
    background-color #ffffff
    margin 0
    padding 5px
    color #97abbb
    font-weight bold
  &-link:link
    text-decoration none
  &-socialNet
    text-align center
    padding-top 1em

.fa-twitter, .fa-facebook-official, .fa-youtube-play
  font-size 2.5em
  padding 10px

#facebook
  color #fff//#3b5998

#twitter
  color #fff//#00aced

#youtube
  color #fff
