.Create
  padding 12em 0 4em 0
  text-align center
  background-image url("../../assets/images/work/EmergencyDoor.jpeg")
  background-position:center
  background-size cover
  &-form
    display inline-block
    padding 40px 50px
    border-radius 20px
    width 60%
    text-align center
    background-color white
    box-shadow 0 0 50px 5px #3d494e
  &-formTop
    display block
    text-align left
  &-formLogotype
    display inline-block
    font-size 40px
    margin 0
  &-formTitle
    display inline-block
    font-size 2em
    padding-left 0.5em
    color #34526b
    font-weight bold;
    margin 0
  &-formRight, .Create-formLeft
    display inline-block
    vertical-align:top
    width 45%
  &-formLeft
    margin-right 2em
  &-formRight
    text-align center
  &-formInput,.Create-formSelect,.Create-formOption
    display block
    padding 10px
    margin-top 20px
    width 100%
    background-color #eaf1f4
    border-style none
    font-weight bold
  &-formSelect
    color #a9a9a9
  &-formButton
    margin-top 20px
    padding 10px 30px
    background-color #32A3FF
    color white
    font-weight bold
    font-size 1.2em
    border-style none
  &-formButton:hover
    transition 0.2s
    background-color #116AB2

.Error-formMessage
  border 3px solid #D8000C
  background-color: #FFBABA
  color #D8000C
  border-radius 3px
  padding 10px
  margin-top 10px
  display block

/*--Tooltip Tail--

.Create-formMessage
	position: relative

.Create-formMessage:after, .Create-formMessage:before
	bottom: 100%
	left: 50%
	border: solid transparent
	content: " "
	height: 0
	width: 0
	position: absolute

.Create-formMessage:after
	border-bottom-color: #FFBABA
	border-width: 8px
	margin-left: -8px

.Create-formMessage:before
	border-bottom-color: #D8000C
	border-width: 10px
	margin-left: -10px*/
